test.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UNIVERSITE_TURU" type="xs:string" />
              <xs:element name="UNIVERSITE" type="xs:string" />
              <xs:element name="FAKULTE" type="xs:string" />
              <xs:element name="PROGRAM_KODU" type="xs:unsignedInt" />
              <xs:element name="PROGRAM" type="xs:string" />
              <xs:element name="DIL" type="xs:string" />
              <xs:element name="OGRENIM_TURU" type="xs:string" />
              <xs:element name="BURS" type="xs:unsignedByte" />
              <xs:element name="OGRENIM_SURESI" type="xs:unsignedByte" />
              <xs:element name="PUAN_TURU" type="xs:string" />
              <xs:element name="KONTENJAN" type="xs:unsignedByte" />
              <xs:element name="OKUL_BIRINCISI_KONTENJANI" type="xs:unsignedByte" />
              <xs:element name="GECEN_YIL_MIN_SIRALAMA" type="xs:unsignedInt" />
              <xs:element name="GECEN_YIL_MIN_PUAN" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>